.body{
  background-color: rgb(218, 244, 201);
}
.container{
margin-top: 50px;
display: flex;
flex-direction: column;
align-items: center;
}

.title{
  color: red;
  font-size: 50px;
}

.input{
  width: 500px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid green;
}

.button{
  height: 50px;
  color: red;
  border-radius: 12px;
}
